.hidden{display:none}
.kweb-editing{outline:2px solid green;}
.kweb-invalid{background:#ee4b2b}
.kweb-table{font-family:monospace;}
.kweb-dict{font-family:monospace;}
.kweb-textarea{font-family:monospace;}
.kweb-tty{font-family:monospace;}