*{font-family:monospace;box-sizing:border-box}
html,body{margin:0;padding:0}
body{width:100vw;height:100vh;display:flex;flex-direction:column;overflow:hidden}
option{margin:0;padding:0;min-height:1em}
table{border-collapse:collapse}
.head{background:black;color:white}
.link:hover{cursor:pointer}
.pointer:hover{cursor:pointer}
.bold{font-weight:bold}
.large{font-size:large}
.red{background:red}
input:read-only{color:grey;font-style:italic}
#sel{border:none;outline:none;/*background:#ffe*/;flex-grow:1;text-align:right}
#list{border-top:none;border-right:none;border-radius:0;outline:none;width:100%;height:100%;overflow-x:none;overflow-y:auto;background:#fcfcfc}
#pcap{width:100%;min-height:50px;outline:none;border:none;border-radius:0;overflow:auto}
#list{/*height:calc(100vh - 3em)*/}
#dict{/*height:calc(100vh - 3em)*/}
#L{border-right:1px solid;resize:horizontal;overflow-x:none;overflow-y:auto;min-width:10vw;max-width:90vw}
#R{height:calc(100vh - 3em);right:0;min-width:10vw;background:#fcfcfc}
#T{/*max-height:50vh;overflow:auto;background:#f4f4f4*/}
#F{/*position:fixed;bottom:0;*/width:100vw;display:flex}
#E{background:orange;margin:0}
#O{background:#f8f8f8;margin:0;max-height:30vh;overflow:auto}
#P{resize:vertical;width:100%;height:60%;min-height:10vh;max-height:90vh;overflow:hidden;border-bottom:1px solid}
#B{background:black;color:white;border:2px solid black;outline:none;flex-grow:1;text-align:right;font-size:large}
